[submodule "repos/ipfs-client"]
	path = repos/ipfs-client
	url = https://github.com/JamesHertz/ipfs-client.git
[submodule "repos/webmaster"]
	path = repos/webmaster
	url = https://github.com/JamesHertz/webmaster.git
[submodule "repos/kubo-ipfs"]
	path = repos/kubo-ipfs
	url = https://github.com/JamesHertz/kubo.git
	branch = experiments
